/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background: #0f172a;
    color: #e2e8f0;
}

/* NAVBAR */
.navbar {
    height: 60px;
    background: #0f172a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid #1e293b;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #22c55e;
    font-weight: bold;
}

.logo span {
    color: #3b82f6;
}

.user-id {
    color: #94a3b8;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    width: 230px;
    height: 100%;
    background: #0f172a;
    border-right: 1px solid #1e293b;
    padding-top: 60px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 20px;
    color: #94a3b8;
    text-decoration: none;
    transition: 0.2s;
}

.sidebar ul li a:hover {
    background: #1e293b;
    color: #22c55e;
}

.sidebar ul li a.active {
    background: #1e293b;
    color: #22c55e;
    border-left: 3px solid #22c55e;
}

/* CONTENIDO */
.main-content {
    margin-left: 230px;
    margin-top: 60px;
    padding: 25px;
    min-height: 100vh;
}

/* ALERTAS */
.alert {
    background: #1e293b;
    padding: 12px;
    margin-bottom: 15px;
    border-left: 4px solid #22c55e;
    border-radius: 6px;
}

/* NAVBAR INFERIOR (MÓVIL) */
.bottom-nav {
    display: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    /* QUITAR SIDEBAR */
    .sidebar {
        display: none;
    }

    .main-content {
        margin-left: 0;
        padding-bottom: 80px;
    }

    /* NAVBAR INFERIOR */
    .bottom-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 65px;
        background: #0f172a;
        border-top: 1px solid #1e293b;
        justify-content: space-around;
        align-items: center;
        z-index: 1000;
    }

    .bottom-nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #94a3b8;
        text-decoration: none;
        font-size: 12px;
        gap: 3px;
    }

    .bottom-nav a i {
        font-size: 18px;
    }

    .bottom-nav a:hover {
        color: #22c55e;
    }
}