.titulo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(5, 5, 5);
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(255,215,0,0.6);
}

/* GRID */
.juegos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 22px;
}

/* CARD */
.juego-card {
    position: relative;
    background: linear-gradient(145deg,#0f0f0f,#161616);
    border-radius: 20px;
    padding: 28px 18px;
    text-align: center;
    box-shadow: 0 0 18px rgba(0,0,0,0.6);
    transition: 0.35s ease;
    overflow: hidden;
    border: 1px solid #222;
    text-decoration: none;
}

/* EFECTO BRILLO */
.juego-card::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255,215,0,0.18), transparent 60%);
    opacity: 0;
    transition: 0.4s;
}

.juego-card:hover::before {
    opacity: 1;
}

/* HOVER */
.juego-card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 30px rgba(255,215,0,0.35);
}

/* ICONO */
.icono {
    font-size: 52px;
    margin-bottom: 12px;
    filter: drop-shadow(0 0 8px rgba(255,215,0,0.4));
}

/* TITULO */
.juego-card h3 {
    margin: 6px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* ESTADO */
.estado {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 14px;
    font-size: 12px;
    border-radius: 20px;
    background: rgba(255,215,0,0.15);
    color: gold;
    border: 1px solid rgba(255,215,0,0.4);
}

/* CARD ACTIVO */
.juego-card.activo {
    border: 1px solid gold;
    box-shadow: 0 0 30px rgba(255,215,0,0.6);
}

/* BADGE */
.badge {
    position: absolute;
    top: 12px;
    right: -32px;
    background: gold;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 45px;
    transform: rotate(45deg);
    box-shadow: 0 0 10px rgba(255,215,0,0.7);
}

/* RESPONSIVE */
@media (max-width: 480px) {
    .titulo {
        font-size: 23px;
    }

    .icono {
        font-size: 48px;
    }
}
