:root {
    --bg: #020617;
    --green: #22c55e;
    --green2: #00ffa6;
    --blue: #3b82f6;

    --text: #e2e8f0;
    --muted: #94a3b8;
}

/* BASE */
body {
    background: linear-gradient(180deg, #020617, #000);
    color: var(--text);
    font-family: 'Segoe UI', sans-serif;
}

/* CONTENEDOR */
.wallet-container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

/* TOP */
.wallet-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-data h2 {
    color: var(--green);
}

.user-data p {
    color: var(--muted);
    font-size: 13px;
}

/* REFERIDO */
.ref-box {
    background: rgba(255,255,255,0.05);
    padding: 8px 12px;
    border-radius: 10px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.ref-box button {
    background: var(--green);
    border: none;
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
}

/* BALANCE */
.wallet-balance {
    text-align: center;
    margin: 30px 0;
}

.wallet-balance span {
    color: var(--muted);
}

.wallet-balance h1 {
    font-size: 40px;
    color: var(--green2);
    margin: 10px 0;
}

/* MINI INFO */
.mini-info {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.mini-info p {
    font-size: 12px;
    color: var(--muted);
}

.online {
    color: var(--green);
}

/* BOTONES REDONDOS */
.actions-bar {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.circle-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

.deposit {
    background: linear-gradient(135deg, var(--green), var(--green2));
}

.withdraw {
    background: linear-gradient(135deg, #1e293b, var(--blue));
}

.circle-btn:hover {
    transform: scale(1.1);
}

/* LISTA */
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ITEM */
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.04);
    padding: 15px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.menu-item i:first-child {
    color: var(--green);
    margin-right: 10px;
}

.menu-item span {
    flex: 1;
}

.menu-item:hover {
    background: rgba(34,197,94,0.15);
}

/* ESPECIALES */
.download i:first-child {
    color: var(--blue);
}

.logout {
    color: red;
}

/* RESPONSIVE */
@media (max-width: 600px) {

    .wallet-balance h1 {
        font-size: 30px;
    }

    .mini-info {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

}