{% extends "inverso_sa/dashboard.html" %}
{% load static %}

{% block title %}Configuración | Rddit{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'inverso_sa/css/cuenta_bancaria.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block contenido %}

<div class="bank-wrapper">

    <!-- HEADER -->
    <div class="bank-top">

        <h2>
            <i class="fa-solid fa-user-gear"></i>
            Configuración de cuenta

        <p>
            Personaliza la información asociada a tu cuenta.
        </p>

    </div>

    <!-- CARD PRINCIPAL -->
    <div class="bank-card">

        <form method="POST" class="bank-form">
            {% csrf_token %}

            <div class="form-row">

                <div class="input-box">
                    <label> Banco "lafice"</label>

                    <input
                        type="text"
                        name="banco"
                        placeholder="LAfice Digital "
                        required>
                </div>

                <div class="input-box">

                    <label>Nombre</label>

                    <input
                        type="text"
                        name="titular"
                        placeholder="Nombre público"
                        required>

                </div>

            </div>

            <div class="input-box">

                <label>Numero de cuenta</label>

                <input
                    type="text"
                    name="numero_cuenta"
                    placeholder="cuenta"
                    required>

            </div>

            <button type="submit" class="btn-save">

                <i class="fa-solid fa-floppy-disk"></i>
                Guardar cambios

            </button>

        </form>

    </div>

    <!-- INFO -->
    <div class="bank-info">

        <div class="info-item">

            <i class="fa-solid fa-shield-halved"></i>

            <div>

                <h4>Privacidad</h4>

                <p>
                    Tu información personal permanece protegida.
                </p>

            </div>

        </div>

        <div class="info-item">

            <i class="fa-solid fa-bolt"></i>

            <div>

                <h4>Actualización Instantánea</h4>

                <p>
                    Los cambios se reflejan inmediatamente.
                </p>

            </div>

        </div>

        <div class="info-item">

            <i class="fa-solid fa-circle-check"></i>

            <div>

                <h4>Cuenta Verificada</h4>

                <p>
                    Mantén tu perfil actualizado para una mejor experiencia.
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}